<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>edit collection item</h1>
        <form class="" action="/collections/<%=collection.id%>?_method=PUT" method="POST">
            <label for="name">item name:</label>
            <input type="text" name="name" value="<%=collection.name%>">

            <label for="description">description:</label>
            <input type="text" name="description" value="<%=collection.description%>">

            <label for="img">image link:</label>
            <input type="text" name="img" value="<%=collection.img%>">

            <label for="memory">memory:</label>
            <input type="text" name="memory" value="<%=collection.memory%>">

            <label for="location">location:</label>
            <input type="text" name="location" value="<%=collection.location%>">

            <label for="date">date:</label>
            <input type="text" name="date" value="<%=collection.date%>">
            
            <input type="submit" name="" value="edit item">
        </form>
        <a href="/collections">back to collection</a>
    </body>
</html>
