<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>edit capsule item</h1>
        <form class="" action="/timecapsule/<%=item.id%>?_method=PUT" method="POST">
            <label for="name">your name:</label>
            <input type="text" name="name" value="<%=item.name%>">

            <label for="item">item name:</label>
            <input type="text" name="item" value="<%=item.item%>">

            <label for="location">location:</label>
            <input type="text" name="location" value="<%=item.location%>">

            <label for="date">date:</label>
            <input type="text" name="date" value="<%=item.date%>">

            <label for="img">image link:</label>
            <input type="text" name="img" value="<%=item.img%>">

            <label for="memory">memory:</label>
            <input type="text" name="memory" value="<%=item.memory%>">

            <label for="words">wise words for future self:</label>
            <input type="text" name="words" value="<%=item.words%>">

            <input type="submit" name="" value="edit item">
        </form>
        <a href="/timecapsule">back to capsule</a>
    </body>
</html>
