<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>~nostalgia~</title>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="sticky">
            <h1>nostalgia</h1>
            <ul class="list-inline">
                <% if (currentUser) { %>
                    <li>hello <%=currentUser.username%>!</li>
                    <li>
                        <form class="" action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" name="" value="logout">
                        </form>
                        <a href="/timecapsule/new">add to capsule</a>
                    </li>
                <% } else {%>
                    <li><a href="/users/new">sign up</a></li>
                    <li><a href="/sessions/new">log in</a></li>
                <% } %>
            </ul>
        </nav>
        <div class="background-container">
            <div class="capsule-container">
                <% for (let i = 0; i < timeCapsule.length; i++) { %>
                    <% if (i % 2 === 0){ %>
                        <div class="capsule-item-container-even">
                            <div class="img-container">
                                <a href="/timecapsule/<%=timeCapsule[i]._id%>"><img class="item-img" src="<%=timeCapsule[i].img%>" alt=""></a>
                            </div>
                            <div class="capsule-item-copy-even">
                                <!-- <p>"<%=timeCapsule[i].words%>"</p> -->
                                <a href="/timecapsule/<%=timeCapsule[i]._id%>"></a>
                            </div>
                        </div>
                  <% } else { %>
                        <div class="capsule-item-container-odd">
                            <div class="img-container">
                                <a href="/timecapsule/<%=timeCapsule[i]._id%>"><img class="item-img" src="<%=timeCapsule[i].img%>" alt=""></a>
                            </div>
                            <div class="capsule-item-copy-odd">
                                <!-- <p>"<%=timeCapsule[i].words%>"</p> -->
                                <a href="/timecapsule/<%=timeCapsule[i]._id%>"></a>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </body>
</html>
