<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>~nostalgia~</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="header-container">
            <h1>time capsule</h1>
        </div>
        <div class="capsule-container">
            <% for (let i = 0; i < timeCapsule.length; i++) { %>
                <% if (i % 2 === 0){ %>
                    <div class="capsule-item-container-even">
                        <div class="img-container">
                            <a href="/timecapsule/<%=timeCapsule[i]._id%>"><img src="<%=timeCapsule[i].img%>" alt=""></a>
                        </div>
                        <div class="capsule-item-copy-even">
                            <p>"<%=timeCapsule[i].words%>"</p>
                            <a href="/timecapsule/<%=timeCapsule[i]._id%>">-<%=timeCapsule[i].name%></a>
                        </div>
                    </div>
              <% } else { %>
                    <div class="capsule-item-container-odd">
                        <div class="img-container">
                            <a href="/timecapsule/<%=timeCapsule[i]._id%>"><img src="<%=timeCapsule[i].img%>" alt=""></a>
                        </div>
                        <div class="capsule-item-copy-odd">
                            <p>"<%=timeCapsule[i].words%>"</p>
                            <a href="/timecapsule/<%=timeCapsule[i]._id%>">-<%=timeCapsule[i].name%></a>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </body>
</html>
