<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="item-container">
            <h3><%=item.item%></h3>
            <p><%=item.name%></p>
            <p><%=item.date%></p>
            <p><%=item.location%></p>
            <img src="<%=item.img%>" alt="">
            <p><%=item.memory%></p>
            <p><%=item.words%></p>
        </div>
        <a href="/timecapsule">back to capsule</a>
        <a href="/timecapsule/<%=item.id%>/edit">edit item</a>
        <form class="" action="/timecapsule/<%=item.id%>?_method=DELETE" method="POST">
            <input type="submit" name="" value="delete">
        </form>
    </body>
</html>
